.experienceBar {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
  margin-top: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

.experienceBar span {
  font-size: 0.8rem;
}
/* o ">" pega exatamente a div que está dentro do experienceBar, sendo a de primeiro nível*/
.experienceBar > div {
  flex: 1;
  height: 4px;
  border-radius: 4px;
  background: var(--gray-line);
  margin: 0 1.5rem;
  position: relative;
}

.experienceBar > div > div {
  height: 4px;
  border-radius: 4px;
  background-color: var(--midi-chlorians);
}

span.currentExperience {
  position: absolute;
  top: 12px;
  transform: translateX(-50%);
  font-size: 0.6rem;
  color: var(--midi-chlorians);
}

@media (max-width: 720px) {
  .experienceBar {
    margin-bottom: -1rem;
  }
}
