.container {
  height: 100vh;
  max-width: 992px;
  margin: 0 auto;
  padding: 1rem 2rem;

  display: flex;
  flex-direction: column;
}

.container section {
  flex: 1;

  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 6.25rem; /*100px*/
  align-content: center;
}

.container section .containerInfoUser {
  /* background: var(--white); */
  background: #181725;
  border-radius: 5px;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 1rem;
  padding-bottom: 0.5rem;
}

@media (max-width: 720px) {
  .container section {
    display: flex;
    flex-direction: column;
  }

  .container section .containerInfoUser {
    margin-top: 4rem;
  }

  .container section .containerInfoChallenge {
    margin-bottom: 2rem;
  }
}
